@font-face {
    font-family: Moonllys;
    src: url(../TEXTWEB/moonllys/Moonllys.ttf);
}

* {
    margin: 0;
    padding: 0;
}


/*estilo de la pagina de productos*/

h1 {
    font-family: Moonllys;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}


/*carrusel de fotos*/